.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.service-heading {
    text-align: center;
    margin-top: 20px;
  }


  .card.shadow-sm{
    border: solid black;
 }

 body {
  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.b-clean{
    background-color: lightgreen;
}

.bas-clean{
    color: black;
    font-weight: bold;
}

.Basic-clean-butt{
    color: black;
    border:solid lightgreen;

    
}
.Basic-clean-butt:hover{
    background-color: lightgreen;
    border: none;
    color: black;
}

.stand-clean{
    background-color: teal;
    
}
.stand-text{
    color: black;
    font-weight: bold;
}

.stand-butt{
    color: black;
    border: solid teal;
}

.stand-butt:hover{
    color: black;
    background-color: teal;
    border: none;
}

.prem-clean-text{
    color: black;
    font-weight: bold ;
    
}